.footer-container {
  background-color: var(--colour-sage);
  color: var(--colour-white);
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.footer-text {
  min-width: 200px;
  padding-right: 20px;
}

.social-logo {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
