@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

h1 {
  font-family: "Cormorant";
}

h3 {
  font-size: 50px;
}

p {
  margin: 0;
  --font-roboto: "Roboto", Arial, sans-serif;
}

/* header section and nav bar start here  */
.header-wrapper {
  background-color: var(--colour-sage);
  color: var(--colour-white);
  display: flex;
  flex-direction: column;
}

.header-logo {
  display: flex;
  padding-left: 10px;
}

ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style-type: none;
  padding: 20px;
}

li {
  padding: 10px;
}

.nav-link {
  color: var(--colour-white);
  text-decoration: none;
}

li:hover {
  background-color: var(--colour-biscuit);
}

/* footer section starts here */
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: var(--colour-sage);
  color: var(--colour-white);
  margin-top: 30px;
  padding: 20px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.footer-info {
  text-align: left;
}

.social-logo {
  display: flex;
  justify-content: flex-end;
}

/* ---------------------------  */
/* Home hero section here  */
.home-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Home/Hero.png");
  font-family: "Cormorant", serif;
  min-height: 500px;
  background-size: cover;
}

.home-hero-title {
  color: var(--colour-white);
  font-size: 88px;
}

/* about section starts here  */
.blend-txt {
  padding-bottom: 30px;
}

.hand-picked-txt {
  color: var(--colour-biscuit);
  font-size: 50px;
}

/* wise-leaf section starts here*/
.wiseleaf-info {
  background-color: var(--colour-sage);
  padding: 20px;
  margin-bottom: 20px;
}

/* reservation section starts here */

.reservation-container {
  background-image: url("./images/Home/Background.png");
  display: flex;
  justify-content: center;
  color: var(--colour-white);
  align-items: center;
  min-height: 500px;
  background-size: cover;
}

.caption {
  text-align: center;
  max-width: 640px;
}

.second-txt {
  margin-bottom: 20px;
}

.btn-reservation {
  color: var(--colour-sage);
  padding: 15px;
}

/* gallery section starts here  */
.imgslider {
  width: 100%;
}

/* -------------------------- */
/* Menu page starts here */
/* hero section  */
.menu-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Menu/Hero.png");
  font-family: "Cormorant", serif;
  min-height: 500px;
  background-size: cover;
}

.menu-hero-title {
  color: var(--colour-white);
  font-size: 88px;
}
/* main menu starts here  */
.tea-menu-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 10px;
}

.tea-menu-header {
  grid-column: 1 / -1;
  font-size: 50px;
}

.tea-menu {
  grid-column: 1 / -1;
  color: var(--colour-sage);
  font-size: 20px;
}

/* special menu starts here  */

.special-menu-container {
  display: grid;
  margin: 30px;
  grid-template-columns: 5fr 1fr;
  grid-gap: 10px;
  border: 2px solid var(--colour-biscuit);
  padding: 20px;
}

.special-menu-header {
  grid-column: 1 / -1;
  color: var(--colour-sage);
  font-size: 30px;
}

.special-menu {
  grid-column: 1 / -1;
  color: var(--colour-sage);
  font-size: 20px;
}

/* reservea a table */
.reservation-menu-container {
  background-image: url("./images/Menu/Background.png");
  display: flex;
  justify-content: center;
  color: var(--colour-white);
  align-items: center;
  min-height: 500px;
  background-size: cover;
}

.reservation-caption {
  text-align: center;
  max-width: 640px;
}

.reservation-second-txt {
  margin-bottom: 20px;
}

.reservation-menu-btn {
  color: var(--colour-sage);
  padding: 15px;
}

/* ---------------------- */
/* Reservation section starts here  */
.reservation-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Reservations/Hero.png");
  font-family: "Cormorant", serif;
  min-height: 500px;
  background-size: cover;
}

.reservation-hero-title {
  color: var(--colour-white);
  font-size: 88px;
}

/* reservation form starts here  */
.reservation-form {
  margin: 2em 15em 2em 15em;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

input,
label {
  color: var(--colour-sage);
}

.first-label,
.first-input {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* .second-label, .second-input{
  display: flex;
  justify-content: flex-end;
} */

/* reservation menu here  */
.menu-items-container {
  background-image: url("./images/Reservations/Background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colour-white);
  min-height: 500px;
  background-size: cover;
}

.items-caption {
  text-align: center;
  max-width: 640px;
}

.items-second-txt {
  margin-bottom: 20px;
}

.items-btn {
  color: var(--colour-sage);
  padding: 15px;
}

/* ----------- */
@media only screen and (min-width: 540px) {
  .blend-container {
    display: flex;
    margin-top: 20px;
  }

  /* ----------wiseleaf grid for tablet------ */
  .wiseleaf-container {
    display: grid;
    grid-template-columns: 50px 5fr 70px 6fr 50px;
    grid-template-rows: 50px 5fr 3fr 50px;
    background-color: var(--colour-sage);
  }

  .wiseleaf-info {
    grid-column: 4/5;
    grid-row: 1/3;
  }

  .wiseLeaf-img1 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .wiseleaf-img2 {
    grid-column: 4/5;
    grid-row: 3/5;
  }

  /* -------Footer--------- */
  .footer-info {
    display: flex;
    justify-content: space-around;
  }
}
