@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

h1{
  font-family: "Cormorant", serif;
}

p {
  margin: 0;
  font-family: "Roboto";
}

/* header section and nav bar start here  */
.header-wrapper {
  background-color: var(--colour-sage);
  color: var(--colour-white);
  display: flex;
  justify-content: space-around;
}

.navbar {
  display: flex;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 20px;
}

li {
  padding: 10px; 
}

.nav-link{
  color: var(--colour-white);
  text-decoration: none;
}

/* hero section here  */
.home-hero{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/Home/Hero.png');
  font-family: "Cormorant", serif;
  min-height: 500px;
  background-size: cover;
}

.home-hero-title{
  color: var(--colour-white);
  font-size: 88px;
}


/* about section starts here  */
.blend-txt {
  padding-bottom: 30px;
}

.hand-picked-txt {
  color: var(--colour-biscuit);
  font-size: 50px;
}

/* wise-leaf section starts here*/
.wiseleaf-container{
  display: grid;
}

.wiseleaf-info {
  background-color: var(--colour-sage);
  padding: 30px;
  margin: 10px;
}

.wiseLeaf-img2 {
  margin: 10px;
}

/* reservation section starts here */

.reservation-container {
  background-image: url('./images/Home/Background.png');
  display: flex;
  justify-content: center;
  color: var(--colour-white);
  align-items: center;
  min-height: 500px;
  background-size: cover;
}

.caption {
  text-align: center;
  max-width: 640px;
}

.first-txt {
  font-size: 40px;
}

.second-txt{
  margin-bottom: 20px;
}

.btn-reservation {
  color: var(--colour-sage);
  padding: 15px;
}

/* gallery section starts here  */
.imgslider{
  width: 100%;
}

/* footer section starts here */
.footer-container {
  background-color: var(--colour-sage);
  color: var(--colour-white);
  padding: 20px;
}

.footer-logo {
  padding-top: 20px;
}

.footer-info {
  text-align: left;
}

.social-logo {
  float: right;
}

/* -------------------------- */
/* Menu page starts here */
/* hero section  */
.menu-hero{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/Menu/Hero.png');
  font-family: "Cormorant", serif;
  min-height: 400px;
  background-size: cover;
}

.menu-hero-title{
  color: var(--colour-white);
  font-size: 88px;
}
/* main menu starts here  */
.tea-menu-container{
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 10px;
}

.tea-menu-header{
  grid-column: 1 / -1;
  font-size: 50px;
}

.tea-menu{
 grid-column: 1 / -1;
 color: var(--colour-sage);
 font-size: 20px;
}

/* special menu starts here  */

.special-menu-container{
  display: grid;
  margin: 30px;
  grid-template-columns: 5fr 1fr;
  grid-gap: 10px;
  border: 2px solid var(--colour-biscuit);
  padding: 20px;
}

.special-menu-header{
  grid-column: 1 / -1;
  color: var(--colour-sage);
  font-size: 30px;
  
}

.special-menu{
 grid-column: 1 / -1;
 color: var(--colour-sage);
 font-size: 20px;
}

/* reservea a table */
.reservation-menu-container {
  background-image: url('./images/Menu/Background.png');
  display: flex;
  justify-content: center;
  color: var(--colour-white);
  align-items: center;
  min-height: 400px;
  background-size: cover;
}

.reservation-caption {
  text-align: center;
  max-width: 640px;
}

.reservation-first-txt {
  font-size: 40px;
}

.reservation-second-txt{
  margin-bottom: 20px;
}

.reservation-menu-btn {
  color: var(--colour-sage);
  padding: 15px;
}

/* ---------------------- */
/* Reservation section starts here  */
.reservation-hero{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/Reservations/Hero.png');
  font-family: "Cormorant", serif;
  min-height: 400px;
  background-size: cover;
}

.reservation-hero-title{
  color: var(--colour-white);
  font-size: 88px;
}

/* reservation form starts here  */
.reservation-form{
  margin: 50px;
  
}


/* reservation menu here  */
.menu-items-container {
  background-image: url('./images/Reservations/Background.png');
  display: flex;
  justify-content: center;
  color: var(--colour-white);
  align-items: center;
  min-height: 400px;
  background-size: cover;
}

.items-caption {
  text-align: center;
  max-width: 640px;
}

.items-first-txt {
  font-size: 40px;
}

.items-second-txt{
  margin-bottom: 20px;
}

.items-btn {
  color: var(--colour-sage);
  padding: 15px;
}