@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

h1,
h3 {
  font-family: "Cormorant", serif;
}

p {
  margin: 0;
  font-family: "Roboto";
}

/* header section and nav bar start here  */
.header-wrapper {
  background-color: var(--colour-sage);
  color: var(--colour-white);
  display: flex;
  justify-content: space-around;
}

.navbar {
  display: flex;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 20px;
}

li {
  padding: 10px; 
}

.nav-link{
  color: var(--colour-white);
  text-decoration: none;
}
/* .hamburgerMenu{
  width: 40px;
  height: 40px;
  margin-top: 20px;
} */

/* hero section here  */
.heroImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* about section starts here  */
.blend-txt {
  padding-bottom: 30px;
}

.hand-picked-txt {
  color: var(--colour-biscuit);
  font-size: 50px;
}

/* wise-leaf section starts here*/
.wiseLeafInfo {
  background-color: var(--colour-sage);
  padding: 30px;
  margin: 10px;
}

.wiseLeaf-img2 {
  margin: 10px;
}

/* reservation section starts here */
.reservationImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.reservation-container {
  position: relative;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: var(--colour-white);
}

.first-txt {
  font-size: 40px;
}

.second-txt{
  margin-bottom: 20px;
}

.btn-reservation {
  color: var(--colour-sage);
  padding: 15px;
}

/* gallery section starts here  */
.gallery-img {
  margin: 20px;
}

/* footer section starts here */
.footer-container {
  background-color: var(--colour-sage);
  color: var(--colour-white);
  padding: 20px;
}

.footer-logo {
  padding-top: 20px;
}

.footer-info {
  text-align: left;
}

.social-logo {
  float: right;
}
