@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4 {
  font-family: "Cormorant", serif;
}

/* h3 {
  font-family: "Cormorant", serif;
  font-size: 50px;
} */

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* header section and nav bar start here  */
.navbar-container {
  background-color: var(--colour-sage);
  color: var(--colour-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  padding-left: 20px;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 20px;
}

li {
  padding: 10px;
}

.nav-link {
  color: var(--colour-white);
  text-decoration: none;
}

li:hover {
  background-color: var(--colour-biscuit);
}

/* footer section starts here */
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: var(--colour-sage);
  color: var(--colour-white);
  margin-top: 30px;
  padding: 20px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.footer-text {
  padding-right: 20px;
}

.social-logo {
  display: flex;
  justify-content: flex-end;
}

/* ---------------------------  */
/* Home hero section here  */
.home-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Home/Hero.png");
  font-family: "Cormorant", serif;
  min-height: 500px;
  background-size: cover;
}

.hero-title {
  color: var(--colour-white);
  padding: 0px 50px;
  font-size: 88px;
}

/* about section starts here  */
.blend-img {
  max-width: 100%;
  height: auto;
}

.hand-picked-txt {
  color: var(--colour-biscuit);
  font-family: "Cormorant", serif;
  font-size: 61px;
}

/* wise-leaf section starts here*/
.teapot-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.wiseleaf-info {
  background-color: var(--colour-sage);
  padding: 20px;
  margin-bottom: 20px;
}

/* reservation section starts here */
.home-reservation {
  background-image: url("./images/Home/Background.png");
  display: flex;
  justify-content: center;
  color: var(--colour-white);
  align-items: center;
  min-height: 500px;
  background-size: cover;
}

.caption {
  text-align: center;
  max-width: 640px;
}

.title {
  font-size: 64px;
}

.text {
  margin-bottom: 20px;
  font-size: 22px;
}

.reservation-btn {
  color: var(--colour-sage);
  padding: 15px;
  font-size: 21px;
}

/* -------------------------- */
/* Menu page starts here */
/* hero section  */
.menu-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Menu/Hero.png");
  font-family: "Cormorant", serif;
  min-height: 500px;
  background-size: cover;
}

/* main menu starts here  */
.tea-menu-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 10px;
}

.tea-menu-header {
  grid-column: 1 / -1;
  font-size: 50px;
  margin-top: 30px;
  padding-left: 50px;
}

.tea-menu {
  grid-column: 1 / -1;
  color: var(--colour-sage);
  padding-left: 50px;
  font-size: 20px;
}

.info {
  padding-left: 50px;
}

/* special menu starts here  */
.special-menu-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 10px;
  margin: 5em;
  padding: 4em;
  border: 2px solid var(--colour-biscuit);
}

.special-menu-header {
  grid-column: 1 / -1;
  color: var(--colour-sage);
  font-size: 30px;
}

.special-menu {
  grid-column: 1 / -1;
  color: var(--colour-sage);
  font-size: 20px;
}

/* reserve a table */
.menu-reservation {
  background-image: url("./images/Menu/Background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colour-white);
  min-height: 500px;
  background-size: cover;
}

/* ---------------------- */
/* Reservation section starts here  */
.reservation-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Reservations/Hero.png");
  font-family: "Cormorant", serif;
  min-height: 500px;
  background-size: cover;
}

.logo-img {
  margin: 20px 0 0 20px;
}

.form-title {
  margin: 20px 0 0 20px;
}

/* reservation form starts here  */
.form-container {
  display: grid;
  grid-template-areas:
    "l1 l2"
    "i1 i2"
    "l3 ."
    "i3 ."
    "l4 l4"
    "i4 i4"
    "l5 l5"
    "i5 i5"
    "l6 l6"
    "ta ta";
  grid-gap: 5px;
  margin: 2em;
  max-width: 500px;
}

.label1 {
  grid-area: l1;
}

.input1 {
  grid-area: i1;
}

.label2 {
  grid-area: l2;
}

.input2 {
  grid-area: i2;
}

.label3 {
  grid-area: l3;
}

.input3 {
  grid-area: i3;
}

.label4 {
  grid-area: l4;
}

.input4 {
  grid-area: i4;
}

.label5 {
  grid-area: l5;
}

.input5 {
  grid-area: i5;
}

.label6 {
  grid-area: l6;
}

.textarea {
  grid-area: ta;
}

.checkbox{
  text-align: center;
}

.btn-submit {
  background-color: var(--colour-sage);
  color: var(--colour-white);
  margin: 20px;
  padding: 10px 20px;
}

input,
label {
  color: var(--colour-sage);
}

/* reservation menu here  */
.menu-items {
  background-image: url("./images/Reservations/Background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colour-white);
  min-height: 500px;
  background-size: cover;
}

.menu-btn {
  color: var(--colour-sage);
  padding: 15px;
}


/* ----------- media query for tablet------*/
@media only screen and (min-width: 380px) {
  .blend-container {
    display: flex;
    margin-top: 20px;
  }

  .column {
    flex: 50%;
  }

  /* ----------wiseleaf grid for tablet------ */
  .wiseleaf-container {
    display: grid;
    grid-template-columns: 50px 5fr 70px 6fr 50px;
    grid-template-rows: 50px 2fr 1fr 50px;
  }

  .green-box {
    background-color: var(--colour-sage);
    grid-column: 2/5;
    grid-row: 1/4;
  }

  .wiseleaf-info {
    grid-column: 4/5;
    grid-row: 1/3;
  }

  .wiseleaf-img1 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .wiseleaf-img2 {
    grid-column: 4/5;
    grid-row: 3/5;
  }

  /* ..........reservation-form for tablet..... */
  .form-container {
  display: grid;
  grid-template-areas:
    "l1 l1 l2 l3"
    "i1 i1 i2 i3"
    "l4 l4 l5 l5"
    "i4 i4 i5 i5"
    "l6 . . ."
    "ta ta ta ta";
  grid-gap: 5px;
  margin: 2em;
  max-width: 500px;
}

.label1 {
  grid-area: l1;
}

.input1 {
  grid-area: i1;
}

.label2 {
  grid-area: l2;
}

.input2 {
  grid-area: i2;
}

.label3 {
  grid-area: l3;
}

.input3 {
  grid-area: i3;
}

.label4 {
  grid-area: l4;
}

.input4 {
  grid-area: i4;
}

.label5 {
  grid-area: l5;
}

.input5 {
  grid-area: i5;
}

.label6 {
  grid-area: l6;
}

.textarea {
  grid-area: ta;
}

  /* -------Footer--------- */
  .footer-info {
    display: flex;
    justify-content: space-around;
  }
}


/* ----------- media query for desktop------*/
@media only screen and (min-width: 769px) {
  .wiseleaf-container {
    /* border: 2px solid #daa520; */
    display: grid;
    grid-template-columns: 60px 5fr 80px 6fr 60px;
    grid-template-rows: 50px 1fr 1fr 50px;
  }

  .green-box {
    background-color: var(--colour-sage);
    grid-column: 2/5;
    grid-row: 1/4;
  }

  .wiseleaf-info {
    grid-column: 4/5;
    grid-row: 2/3;
  }

  .wiseleaf-img1 {
    grid-column: 1/3;
    grid-row: 2/4;
  }

  .wiseleaf-img2 {
    grid-column: 4/6;
    grid-row: 3/5;
  }

 .logo-img2{
    border: 2px solid #daa520;
    position: relative;
    right: 50%;
  }  

  /* -------Footer--------- */
  .footer-info {
    display: flex;
    justify-content: space-around;
  }
}
